

* {
    background-image: url(background.png);
    font-family: Impact, sans-serif;
    color: white;
}
a:hover {
    font-style: italic;
}
a {
    color:#ae8dad;
}
#error { 
    font-size: 150px;
    color: white;
}
#message {
    font-size: 25px;
    color: white;
}
body {
    width: 1000px;
    margin: 0 auto;
}
img {
    width: 100px;
}